extends ../layouts/application.pug

block header
  = t('views.users.new.signUp')

block content
  .container
    .row.justify-content-center
      .col-md-6
        .card.shadow-sm.bg-white.bg-opacity-85
          .card-body.text-dark
            +formFor()(action=route('users') method='post')
              +input(user, 'firstName', errors)(type ="text")
              +input(user, 'lastName', errors)(type = 'text')
              +input(user, 'Email', errors)(type="text")
              +input(user, 'password', errors)(type="password")
              +submit(user)(value=t('views.users.new.submit'))
              