extends layouts/page

block content
  .p-5.mb-4.bg-light.rounded-3
    .container-fluid.py-5
      h1.display-5.fw-bold Привет от Хекслета!
      p.col-md-8.fs-4
        | Практические курсы по программированию
      a.btn.btn-primary.btn-lg(href='https://ru.hexlet.io/' role='button') Узнать больше

