extends ../layouts/application.pug

block header
  = t('views.session.new.signIn')

block content
  .container
    .row.justify-content-center
      .col-md-6
        .card.shadow-sm.bg-white.bg-opacity-85
          .card-body.text-dark
            +formFor()(action=route('session') method='post')
              +input(signInForm, 'email', errors)(type="email")
              +input(signInForm, 'password', errors)(type="password")
              +submit(signInForm)(value=t('views.session.new.submit'))